body { background:#36424a; color:#36424a; font:24px/1.7 "V&A TheSansPlain",arial,helvetica,freesans,sans-serif; margin:0; }
img { vertical-align:bottom; }
p, ol, ul { margin:0 0 20px; }
a { color:#292728; cursor:pointer; outline:none; text-decoration:underline; }
h1, h2 { font-size:125%; font-weight:normal; line-height:1.18em; margin:0 0 40px; }
strong { font-weight:500; }
abbr, acronym { border-bottom:1px dotted #b5b5b5; } 
em, i { font-style:italic; }
small, sub, sup { display:inline-block; font-size:75%; line-height:1em; }
sub, sup { position:relative; vertical-align:baseline; }
sub { bottom:-0.3em; }
sup { top:-0.3em; }
ol, ul { list-style-position:outside; margin-left:2.2em; }
ol { list-style-type:decimal; }
ul { list-style-type:disc; }
li { margin:0 0 0.5em; }

.right { float:right; }
.button { background:#34556a url(img/button.png) 0 50% no-repeat; border-radius:41px; color:#fff; display:inline-block; height:84px; margin:0 0 19px; text-decoration:none; text-indent:-9999px; width:84px; }
.button:hover, #progknob:hover { background-color:#587a8e; }
.menu.button { background-image:none; border-radius:0; display:table-row; height:80px; line-height:1em; text-indent:0; width:100%; }
.menu.button>img { height:80px; width:auto; }
.menu.button>span { display:table-cell; padding:0 15px; vertical-align:middle; width:100%; }

#pane { background:#fff; height:760px; margin:0 auto; padding:40px 0 0; width:600px; }
#menu, #track { height:100%; margin:0 auto; width:500px; position:relative; }
#transcript p { display:none; }
#transcript p>br:first-child { display:none; }
#start, #player, #ctrls, #list, #next { position:absolute; bottom:0; }
#start, #next  { right:-34px; }
#list  { left:-34px; }
#player { background:#fff; height:165px; margin:0 auto; width:100%; }
#prog { height:1px; background:#999; margin:20px 0; position:absolute; left:0; right:84px; }
#progknob { background:#34556a; height:40px; width:10px; margin:-20px 0  0 -5px; position:absolute; }
#time { font-size:25px; margin-top:-0.2em; position:absolute; right:0; }
#ctrls { text-align:center; width:100%; }
#volbg { background:#d1cccc; border:3px solid #36424a; border-radius:42px; display:inline-block; height:78px; margin:0 0 -55px 23px; width:205px; position:relative; }
#vol { position:absolute; left:39px; right:39px; }
#volknob { background-position:-336px 50%; margin:-3px 0 0 -42px; position:absolute; }
#list { background-position:-84px 50%; }
#play { background-position:-168px 50%; }
#play.playing { background-position:-252px 50%; }
#next { background-position:-420px 50%; }

#timeout>img { height:auto; width:100%; position:absolute; top:0; left:0; z-index:1; }
