#player {
	display:block;
	height:48px;
	width:400px;
	position:relative;
	box-shadow:0 -1px 0 rgba(20, 30, 40, .75);
	border-top:1px solid #c2cbd4;
	border-bottom:1px solid #283541;
	background:#939eaa;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(174, 185, 196, .9)), to(rgba(110, 124, 140, .9)), color-stop(.5, rgba(152, 164, 176, .9)),color-stop(.501, rgba(132, 145, 159, .9)));
	background:-moz-linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
	background:linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
	cursor:default;
}

#play {
	position:absolute;
	top:9px;
	left:10px;
	width:30px;
	height:30px;
	background:url(img/player.png) no-repeat -30px 0;
	cursor:pointer;
}

#play.playing {
	background-position:0 0;
}

#play:active {
	top:10px;
}

#time {
	line-height:48px;
	position:absolute;
	top:0;
	right:0;
	width:50px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-shadow:0 1px 0 #546374;
}

#prog {
	position:absolute;
	top:19px;
	left:50px;
	right:50px;
	height:6px;
	padding:2px;
	border-radius:5px;
	background:#546374;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#242f3b), to(#516070));
	background:-moz-linear-gradient(top, #242f3b, #516070);
	background:linear-gradient(top, #242f3b, #516070);
	box-shadow:0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
}

#vol {
	position:absolute;
	top:44px;
	left:130px;
	right:130px;
	height:6px;
	padding:2px;
	border-radius:5px;
	background:#546374;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#242f3b), to(#516070));
	background:-moz-linear-gradient(top, #242f3b, #516070);
	background:linear-gradient(top, #242f3b, #516070);
	box-shadow:0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
}

#loading {
	background:#fff;
	background:#939eaa;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeef1), to(#c7cfd8));
	background:-moz-linear-gradient(top, #eaeef1, #c7cfd8);
	background:linear-gradient(top, #eaeef1, #c7cfd8);
	box-shadow:0 1px 0 #fff inset, 0 1px 0 #141e28;
	border-radius:3px;
	display:block;
	float:left;
	min-width:6px;
	height:6px;
}

.knob {
	position:absolute;
	top:-5px;
	left:0;
	width:20px;
	height:20px;
	margin-left:-10px;
	background:url(img/player.png) no-repeat -65px -5px;
	cursor:pointer;
}